<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c3447567-5272-4643-a403-f5d76f491c27/resourceGroups/Corona-Covid19Bot/providers/Microsoft.Web/sites/covid19botservice</ResourceId>
    <ResourceGroup>Corona-Covid19Bot</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://covid19botservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>covid19botservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>covid19botservice</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$covid19botservice</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>